@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Source+Serif+4:ital,opsz,wght@0,8..60,400;0,8..60,500;0,8..60,600;1,8..60,400;1,8..60,500;1,8..60,600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}
:root {
    --navy-blue-color: #000080;
    --alice-blue-color: ivory;
    --poppy-red-color: #df2935;
    --emerald-green-color: #9effc6;
}
body {
    min-width: 100vw;
    min-height: 100vh;
}
.App {
    background-color: var(--alice-blue-color);
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
.navItems {
    color: var(--alice-blue-color);
}
.navItems:hover {
    background-color: var(--alice-blue-color);
    border-radius: 5px;
    color: var(--navy-blue-color);
}
.home {
}
.sign {
    margin: 80px 0px 30px 0px;
    letter-spacing: 4;
    font-family: "Clip";
    text-transform: uppercase;
    color: var(--navy-blue-color);
    font-size: 4em;
    font-weight: bolder;
    animation: example 2s infinite;
}
.quotation {
    color: var(--navy-blue-color);
    font-size: 25px;
    line-height: 2;
}
@keyframes example {
    from {
        color: var(--poppy-red-color);
    }
    to {
        color:darkgreen;
    }
}
.hieee {
    height: 525px;
}
.section-header {
    text-align: center;
}
h1 {
    color: var(--poppy-red-color);
    font-size: 50px;
}
.skill {
    text-align: center;
}

.skill-tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.skill-tab {
    background-color: var(--alice-blue-color);
    color: var(--navy-blue-color);
    padding: 10px 20px;
    margin-top: 20px;
    border: 2px solid var(--navy-blue-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.skill-tab.active {
    background-color: var(--navy-blue-color);
    color: var(--alice-blue-color);
}

.skill-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

.skill-item {
    background-color: var(--alice-blue-color);
    color: var(--navy-blue-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

.blg {
    margin: 20px;
    height: 290px;
    padding: 20px;
    box-shadow: var(--poppy-red-color) 0px 0px 0px 3px;
    text-align: center;
    background-color: var(--alice-blue-color);
}
img {
    height: 150px;
}
.blogCards {
    color: var(--navy-blue-color);
    display: grid;
    grid-template-columns: auto auto auto;
}

.contactImg {
    height: 500px;
    width: 100%;
}
.formContent {
    border: 20px solid var(--navy-blue-color);
    margin: 20px;
}

.proCard {
    border: 3px solid black;
    margin: 20px;
}
.project {
    display: grid;
    grid-template-columns: auto auto;
}
